/* Container della tabella */
.table-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    margin-left: 450px;
  }
  
  /* Stile della tabella */
  .ticket-table {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Stile delle intestazioni della tabella */
  .ticket-table th {
    padding: 15px;
    font-size: 1.5rem;
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
  }
  
  /* Stile delle celle dei dati */
  .ticket-table td {
    padding: 15px;
    font-size: 1.5rem;
    border: 1px solid #ddd;
  }
  
  /* Stile per il messaggio "Nessun ticket in attesa..." */
  .no-ticket {
    font-size: 1.5rem;
    color: #ff4500;
    font-weight: bold;
  }
  